<div class="issue-index">
  <div id="resume" class="resume">
    <div class="container">
  <!-- ======= Issues Index Section ======= -->
      <div id="portfolio" class="portfolio">
        <div class="container">
          <div class="section-title">
            <h2 id="logo">BRIGHT</h2>
            <p>All issues</p>
          </div>
          <div class="row">
            <div class="col-lg-8 d-flex justify-content-center">
              <ul id="portfolio-flters">
               <%= link_to issues_path(category: 'All') do %><li data-filter="*" class="<%= @category == 'All' ? 'filter-active' : '' %>">All</li><% end %>
                <%= link_to issues_path(category: 'Pandemic') do %><li data-filter=".filter-app" class="<%= @category == 'Pandemic' ? 'filter-active' : '' %>">Pandemic</li><% end %>
                <%= link_to issues_path(category: 'Natural Disaster') do %><li data-filter=".filter-card" class="<%= @category == 'Natural Disaster' ? 'filter-active' : '' %>">Natural Disaster</li><% end %>
                <%= link_to issues_path(category: 'Other') do %><li data-filter=".filter-web" class="<%= @category == 'Other' ? 'filter-active' : '' %>">Other</li><% end %>
              </ul>
            </div>
          </div>
          <div class="row portfolio-container">
            <% @issues.each do |issue| %>
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src=<%= cl_image_path issue.photo.key, width: 400, height: 300, crop: :fill %> class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4> <%= issue.name %></h4>
                    <p> <%= issue.issue_type %></p>
                    <%= link_to 'Act', issue_path(issue), id:'issuecta' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- End Issues Index Section -->
    </div>
  </div>
</div>

