<!-- ======= Header ======= -->
<div id="header" class="header-tops">
  <div class="container no-pad">
    <div
    id="map"
    style="width: 100vw;
    height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
  </div>
</div>

<div class="row search-bar">
  <i class="fas fa-search"></i>
  <%= form_tag issues_path, method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control btn",
    placeholder: "Search for cause or place"
    %>
    <% end %>
    <ul class="nav-item dropdown">
      <%= image_tag "https://media-exp1.licdn.com/dms/image/C5603AQFC8XqIo84XEQ/profile-displayphoto-shrink_200_200/0?e=1594252800&v=beta&t=Hf4plwX8l6V2K3_co70BWYvWFNZ9lS9tFYeD0_2AhKw", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Action", "#", class: "dropdown-item" %>
        <%= link_to "Another action", "#", class: "dropdown-item" %>
      </div>
    </ul>
  </div>
</div>
<!-- ======= end Header ======= -->
