<nav class="nav-menu d-none d-lg-block">


<!-- dashboard code -->
<div class="d-flex align-items-center" style="padding:30px" >

  <div id="image-avatar">
    <% if current_user && current_user.avatar.attached? %>
    <%= cl_image_tag(current_user.avatar.key, class: "img-circle", width: 80, height: 80, crop: :fill, gravity: :auto) %>
    <% else %>
    <%= image_tag "https://i7.pngguru.com/preview/536/90/375/computer-icons-user-profile-login-avatar-description.jpg", class: "img-circle", width: 70, height: 70, crop: :fill, gravity: :auto %>
    <% end %>
  </div>

  <div>
    <% if user_signed_in? %>
   <h4 style= "margin-bottom:4px" id="loginavbar"><strong> <%= current_user.username.capitalize %> </strong></h4>
     <div class="points-system">
       <i class="fas fa-medal" style="color: #edb953;margin-left:19px"></i> <h8 style= "font-size: 14px">
        Total points: <%= humanized_money current_user.donations_sum/100 %> </h8>
      <% else %>
      <h4><strong><%= link_to('Log in', new_user_session_path, id: "loginavbar") %></strong></h4>
     <% end %>
      </div>
  </div>
</div>

    <ul>
    <% if user_signed_in? %>
      <li> <%= link_to 'Profile', dashboard_path %> </li>
    <% end %>
    <li> <%= link_to 'Explore', map_path %> </li>
    <li> <%= link_to 'Current Issues', issues_path %> </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to('Log out', destroy_user_session_path, method: :delete) %>
      </li>
    <% end %>
  </ul>

 <div class="navfooter text-center">
   <h3>Brightly designed by <strong>Le Wagon</strong>. All right reserved.</h3>
 </div>
</nav>


<%= javascript_pack_tag 'navbar_template' %>
