 <div class="issue-show">
  <div class="container ml-2">
    <div id="resume" class="resume">
      <div class="section-title">
        <% if @charity.issues.any?  %>
        <h2> <%= @charity.issues.first.name  %></h2>
        <% else %>
        <h2 id="logo">BRIGHT</h2>
        <% end %>
        <p><%= @charity.name %></p>
      </div>

      <img src="https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" id="img-show" alt="">
      <div class="row">
        <div class="col-lg-6">
          <div class="resume-item pb-2">
            <h4>Charity Background</h4>
            <p><%= @charity.description %></p>
          </div>
          <div class="resume-item pb-2">
            <h4>Numbers</h4>
            <p>Total donations: <%= @charity.total_donations %></p>
          </div>

          <div class="resume-item pb-2">
            <h4>Ranking</h4>
            <p>Rating: <%= @charity.rating %></p>
          </div>

            <div class="resume-item pb-2">
              <h4>Donate Now</h4>
              <%= form_tag [@issue, @charity, Donation.new] do %>
                <div class="row">
                  <% @amounts.each do |amount| %>
                    <div class="col-5">
                      <a href="#" data-amount="<%= amount %>" class="btn btn-success btn-block m-2 donate-amount-fixed">$<%= amount %></a>
                    </div>
                  <% end %>
                </div>
                <div class="row">
                  <div class="col-10">
                    <%= number_field_tag 'amount', nil, min: 1,
                        class: 'btn btn-success btn-block m-2 donate-amount',
                        data: { amount: 'custom' },
                        placeholder: 'Type your amount' %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-10">
                    <%= submit_tag 'Donate', class: 'btn btn-success btn-block m-2' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
